body{
    background-color: antiquewhite;
}

.txt{
    text-align: center
}

.std{

    text-align: center;

}

h2{
    margin-left: 5rem;
}

.cat{
    margin-left: 6rem;
}

ul{
    margin-left: 7rem;
}

